n8n_workflows/1. Lia_V3.1.json
{
  "name": "1. Lia_V3.1",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "83010b84-72bf-4bdd-b98e-d1deb12f4b9d",
              "leftValue": "={{ $('Info').item.json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "4ca9226f-0401-49a7-93a1-8aeaf4b0bb79",
              "leftValue": "={{ $('Info').item.json.mensagem_de_grupo }}",
              "rightValue": "g.us",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "d2a19b5a-8614-4dc2-9dbf-c74dc252ac1b",
              "leftValue": "={{ ['text','audio','image','image/webp', 'documentMessage'].includes($('Info').item.json.message_type) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "cc6858d5-4a5a-442e-97fb-01cffa9232f0",
              "leftValue": "={{ ( $('Info').item.json.telefone || '' ).length >= 10 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1712,
        1232
      ],
      "id": "f3a917f8-b7d2-4769-aeb1-f4d9b303fedd",
      "name": "Mensagem chegando?"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v3.1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        768,
        1232
      ],
      "id": "dc69fb75-17b4-4574-9d60-daded7b65374",
      "name": "Mensagem recebida",
      "webhookId": "375a1408-06a5-441b-a314-31f2027f8ed0"
    },
    {
      "parameters": {
        "jsCode": "const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        704
      ],
      "id": "8fa19d54-ae6f-40d4-bcc2-549a1d157b65",
      "name": "Mensagem encavalada?"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $json.telefone }}"
            },
            {
              "column": "status",
              "value": "={{ $json.status }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2688,
        704
      ],
      "id": "f5bb5b9c-0109-4906-9367-48df87c660d9",
      "name": "Buscar mensagens",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7eab8669-6929-4dc6-b3e2-943065bc306c",
              "name": "=mensagem",
              "value": "={{ $if($('OpenAI').isExecuted, $('OpenAI').item.json.content, $if($('Transcrever áudio').isExecuted, $('Transcrever áudio').item.json.text, $if($('Analyze document').isExecuted, $('Analyze document').item.json.candidates?.[0]?.content?.parts?.[0]?.text, $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\n')))) }}",
              "type": "string"
            },
            {
              "id": "7809a1a7-0116-491c-bdcb-dd922116115f",
              "name": "telefone",
              "value": "={{ $('Info').item.json.telefone }}",
              "type": "string"
            },
            {
              "id": "e6dbcfb1-b7b2-4bb0-9777-dc5d699d9e32",
              "name": "horario",
              "value": "={{ \n  new Date($('Info').first().json.timestamp * 1000)\n  .toLocaleString('pt-BR', { \n    timeZone: 'America/Sao_Paulo', \n    weekday: 'long', \n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit', \n    minute: '2-digit' \n  }) \n}}",
              "type": "string"
            },
            {
              "id": "7ab04fd0-e6d3-4b2b-a0d4-4e347cdd486d",
              "name": "historico",
              "value": "={{ $('historico1').item.json || {} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4192,
        1040
      ],
      "id": "c8d9ec83-6542-43ce-ad23-fa3e429428b5",
      "name": "Concatenar mensagens",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list",
          "cachedResultName": "n8n_fila_mensagens"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{$json.telefone}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3104,
        704
      ],
      "id": "a51493d4-efb0-4ba2-ae4c-606163a40c2f",
      "name": "Limpar fila de mensagens",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Texto",
        "height": 360,
        "width": 1080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        560
      ],
      "id": "4ccb67d7-5c10-482f-aa29-324532f71fc5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2464,
        704
      ],
      "id": "67043511-8db6-475a-bd66-f55d73ce0d7b",
      "name": "Esperar",
      "webhookId": "294bcc0b-4947-4259-8f1f-5675523490d2"
    },
    {
      "parameters": {
        "content": "# Gerando resposta",
        "height": 636,
        "width": 2080,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3952,
        768
      ],
      "id": "e8126e5e-cbd4-446a-b520-4ae19782ed4b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Enviando resposta",
        "height": 636,
        "width": 844,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6048,
        768
      ],
      "id": "e158c0f9-6e8b-4903-9813-a5c2adcdc5ca",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Tratando input",
        "height": 360,
        "width": 1444
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        1104
      ],
      "id": "daab215a-0aaf-44b5-bd92-5dadd39ff37e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info').item.json.message_type === 'text' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $('Info').item.json.message_type === 'audio' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eb05b020-2866-4be9-b478-ee5e021ab024",
                    "leftValue": "={{ $('Info').item.json.message_type === 'image' }}",
                    "rightValue": "={{ $('Info').item.json.url_imagem }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08b753f2-38e0-4429-b15d-52aa1eaca391",
                    "leftValue": "={{ $('Info').item.json.message_type === 'image/webp' }}",
                    "rightValue": "sticker",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sticker"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d28e4984-cfb5-4288-84a5-8e5e4ebdbd57",
                    "leftValue": "={{ ['text','audio','image'].includes($('Info').item.json.message_type) }}",
                    "rightValue": "Outro",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "41522b86-90fc-4486-b549-0508219e5881",
                    "leftValue": "={{ $('Info').item.json.message_type === 'documentMessage' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1920,
        1168
      ],
      "id": "d291e5e3-902c-4631-86be-9f9a1b93dfff",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2992,
        1024
      ],
      "id": "2b8ba7b0-f6d5-43b3-8b20-d880edfee428",
      "name": "Transcrever áudio",
      "credentials": {
        "openAiApi": {
          "id": "q8KPR3MWWibtUAoU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Áudio",
        "height": 320,
        "width": 1080,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        944
      ],
      "id": "f02d2e6e-159b-4b2e-a2d4-0082d9613d98",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $('Info').item.json.instancia }}",
        "remoteJid": "={{ $('Info').item.json.telefone }}",
        "presence": "=paused",
        "delay": 0
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6480,
        1184
      ],
      "id": "72e5ffd6-df7e-4136-bbb9-dab0bde9c246",
      "name": "Resetar status",
      "credentials": {
        "evolutionApi": {
          "id": "9ydnXbBx8cxSkLE5",
          "name": "Evolution account 2 - Empresarial"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {
          "encoding": "base64"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        6320,
        1184
      ],
      "id": "8bc6d117-b93d-4e76-8129-04f5c2e172dc",
      "name": "Converter áudio para base64",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Marcar como lida e \"digitando...\" e ativa o atendimento",
        "height": 1392,
        "width": 660,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3264,
        560
      ],
      "id": "21dfa125-530b-4a6d-81d0-6e7825c23c36",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/33B4UnXyTNbgLmdEDh5P",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_32"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "model_id",
              "value": "eleven_flash_v2_5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6144,
        1184
      ],
      "id": "700ef2a7-4535-4798-b20e-adc8b7b77f06",
      "name": "Gerar áudio",
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Atendente2').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        5776,
        1056
      ],
      "id": "a525e6fe-8331-41bc-996e-cd7eedf20128",
      "name": "Formatar SSML",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Atendente').item.json.output }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $('Info').item.json.mensagem_de_audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        5472,
        960
      ],
      "id": "d3cd199a-38d9-4308-889a-4358f97c249f",
      "name": "Tipo de mensagem1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Info').item.json.telefone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4752,
        1120
      ],
      "id": "f2b4fa71-067e-41df-9241-0585f654e9bf",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "={{ $('Info').item.json.instancia }}",
        "remoteJid": "={{ $('Info').item.json.telefone }}",
        "media": "={{ $('Converter áudio para base64').item.json.data }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6640,
        1184
      ],
      "id": "3ba92b3e-5219-4c81-9b45-00b594602203",
      "name": "Responder mensagem áudio",
      "credentials": {
        "evolutionApi": {
          "id": "9ydnXbBx8cxSkLE5",
          "name": "Evolution account 2 - Empresarial"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2688,
        1024
      ],
      "id": "14e3ef56-d059-4507-926f-ae5869fb93ec",
      "name": "Converter base64 para áudio."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.telefone }}",
            "mensagem": "={{ $('Info').item.json.mensagem }}",
            "timestamp": "={{ $('Info').item.json.timestamp.toDateTime('s') }}",
            "id_mensagem": "={{ $('Info').item.json.id_mensagem }}",
            "client_id": "={{ \"06a81600-26fc-472b-880e-e6293943354e\" }}",
            "trace_id": "={{ $json.trace_id }}",
            "message_id": "={{ $json.id_mensagem }}",
            "remote_jid": "={{ $json.remote_jid }}",
            "message_type": "={{ $json.message_type }}",
            "status": "={{ \"pending\" }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_mensagem",
              "displayName": "id_mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "remote_jid",
              "displayName": "remote_jid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "locked_at",
              "displayName": "locked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "locked_by",
              "displayName": "locked_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        704
      ],
      "id": "30db27c0-35c3-4e26-882a-14fc0a5f4828",
      "name": "Enfileirar mensagem.",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        5792,
        1216
      ],
      "id": "4832ba2c-efff-4989-93ad-d4616015efeb",
      "name": "Google Gemini Chat Model.",
      "credentials": {
        "googlePalmApi": {
          "id": "uaAmIOORPCp1xYQN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8fd010d-6096-4a50-b3e2-e9fe26661840",
              "name": "id_mensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "8bf522a6-75fb-434a-854c-b736539309e1",
              "name": "telefone",
              "value": "={{\n  (p => p ? (p.startsWith('55') ? p : '55' + p) : null)(\n    (\n      $json.body?.data?.key?.senderPn ??\n      $json.body?.data?.key?.remoteJid ??\n      $json.body?.data?.key?.senderLid ?? ''\n    ).split('@')[0].replace(/\\D/g,'')\n  )\n}}",
              "type": "string"
            },
            {
              "id": "731eef50-51cd-4328-8eda-177d937d519b",
              "name": "instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "0d622a33-f313-4758-a764-fa6cbf2b0587",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "8f4b9d84-56e0-4f45-9f17-68c53f365f43",
              "name": "mensagem_de_audio",
              "value": "={{ $json.body.data.message.audioMessage?.ptt || false }}",
              "type": "boolean"
            },
            {
              "id": "2b679a3f-788f-4cd2-88d5-4f03af68f224",
              "name": "timestamp",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "number"
            },
            {
              "id": "a445d43a-6cd5-4388-982b-9fc58433b342",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "3faf2f42-c3aa-4862-8e35-a09cfe87b2b8",
              "name": "mensagem_de_grupo",
              "value": "={{ $json.body.data.key.remoteJid.split('@').last() === 'g.us' }}",
              "type": "boolean"
            },
            {
              "id": "60cd2050-f950-4409-bd3c-79f7c29d20f0",
              "name": "url_evolution",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "9d73a108-1624-4d16-b3ba-caac1c921d1d",
              "name": "telegram_chat_id",
              "value": "<cole seu telegram chat id>",
              "type": "string"
            },
            {
              "id": "24bb14e7-6e8e-4e1f-91c6-f95328a98bbe",
              "name": "timestamp_iso",
              "value": "={{ new Date(($json.body.data.messageTimestamp||0)*1000).toISOString() }}",
              "type": "string"
            },
            {
              "id": "5a9e3588-a146-4c80-98b3-1fdf37be994f",
              "name": "remote_jid",
              "value": "={{$json.body.data.key.remoteJid}}",
              "type": "string"
            },
            {
              "id": "ecf4a2cd-18d8-442f-84ff-28f2ed2ca25c",
              "name": "message_type",
              "value": "={{ \n  (\n    $json.body.data.message?.audioMessage ? 'audio' : \n    $json.body.data.message?.conversation ? 'text' : \n    $json.body.data.message?.stickerMessage ? 'image/webp' :\n    $json.body.data.message?.documentMessage ? 'documentMessage' :\n    $json.body.data.message?.imageMessage ? 'image' : \n    'other'\n  ).replace(/\\s+/g, '')\n}}",
              "type": "string"
            },
            {
              "id": "959dc138-750f-45e9-90ad-6c4069f563b9",
              "name": "is_audio",
              "value": "={{$json.body.data.message?.audioMessage?.ptt || false}}",
              "type": "boolean"
            },
            {
              "id": "6c94ace1-e207-45a3-a104-6b83e867a07c",
              "name": "media_mime",
              "value": "={{$json.body.data.message?.audioMessage?.mimetype || ''}}",
              "type": "string"
            },
            {
              "id": "bf1d2fa6-c3ea-4f39-aeec-18cb88306c67",
              "name": "media_size",
              "value": "={{$json.body.data.message?.audioMessage?.fileLength || 0}}",
              "type": "number"
            },
            {
              "id": "5db21386-29b0-4f4c-ac09-095986aec334",
              "name": "trace_id",
              "value": "={{ ($json.body.data.key.id||'') + '-' + ($json.body.data.messageTimestamp||0) }}",
              "type": "string"
            },
            {
              "id": "18353c4a-a968-4fc9-8068-cace1e1fe858",
              "name": "source",
              "value": "evolution",
              "type": "string"
            },
            {
              "id": "96851dd9-5f1e-46cc-9248-5fe9d3a9383d",
              "name": "client_code",
              "value": "''",
              "type": "string"
            },
            {
              "id": "eb783ae8-e70e-4ec1-90a4-7b093ce78387",
              "name": "client_id",
              "value": "''",
              "type": "string"
            },
            {
              "id": "1c84c75d-0164-4734-ac3c-8e39dbd9bb27",
              "name": "url_audio",
              "value": "={{ $json.body.data.message.audioMessage.url }}",
              "type": "string"
            },
            {
              "id": "2a809e67-791f-4591-8643-03d273f85bd8",
              "name": "url_imagem",
              "value": "={{ $json.body.data.message.imageMessage.url }}",
              "type": "string"
            },
            {
              "id": "d752aab1-f7fa-4140-ba8d-b31caf32250e",
              "name": "image_base64",
              "value": "={{ $json.body.data.message?.imageMessage?.base64 ?? $json.body.data.message?.imageMessage?.jpegThumbnail }}",
              "type": "string"
            },
            {
              "id": "49fc069d-2026-4ac0-8a00-0cc287ff0011",
              "name": "image_mimetype",
              "value": "={{ $json.body.data.message?.imageMessage?.mimetype || 'image/jpeg' }}",
              "type": "string"
            },
            {
              "id": "0b81a3f0-3eda-42d3-b4f0-63072480ca8d",
              "name": "sticker_base64",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "d8919302-50b1-4900-90fc-07f59e6f0c5e",
              "name": "pdf_base64",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "a24c9e11-d2b3-4563-a0d5-e104c9741cdb",
              "name": "document_mimetype",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        1232
      ],
      "id": "f7eb1080-324f-4508-9dc7-0757b857514e",
      "name": "Info"
    },
    {
      "parameters": {
        "toolDescription": "Utilize está tool quando o cliente pedir para cancelar o pedido. ",
        "method": "POST",
        "url": "https://webhook.hub3ps.com/webhook/cancelar_pedido",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefone",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "order_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        5552,
        1568
      ],
      "id": "7614af66-47bd-49d6-b03b-a4ae5201a259",
      "name": "cancelar_pedido"
    },
    {
      "parameters": {
        "jsCode": "// Prioriza o texto do node \"Atendente\"\nconst fromAttNode =\n  ($node[\"Atendente\"]?.json?.output) ??\n  ($items(\"Atendente\")?.[0]?.json?.output);\n\n// Demais fontes (fallbacks)\nconst raw =\n  fromAttNode ??\n  $json?.message?.content ??\n  $json?.output ??\n  $json?.mensagem ??\n  $json?.text ??\n  $json?.texto ??\n  \"\";\n\n// Normaliza p/ string\nconst texto = String(raw || \"\").trim();\n\n// Se vazio, não quebra fluxo\nif (!texto) return [{ json: { ordem: 1, mensagem: \"\" } }];\n\n// Quebra por parágrafo (2+ quebras de linha)\nconst partes = texto\n  .split(/\\r?\\n\\r?\\n+/)\n  .map(s => s.trim())\n  .filter(Boolean);\n\n// Retorno\nreturn partes.map((msg, i) => ({ json: { ordem: i + 1, mensagem: msg } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6096,
        944
      ],
      "id": "4e62e363-6d65-4f98-a59b-b602b5c5725e",
      "name": "Code",
      "retryOnFail": true
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6304,
        944
      ],
      "id": "7680728b-a97a-40b1-bd92-37ec4c106c98",
      "name": "Loop Over Items",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}message/sendText/{{ $('Info').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EVOLUTION_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"text\": \"{{JSON.stringify($json.mensagem).slice(1,-1)}}\",\n  \"delay\": 4000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6512,
        960
      ],
      "id": "9d3d1c90-f2ee-4380-8b8b-6badc0bb4470",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url_evolution }}/chat/getBase64FromMediaMessage/{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EVOLUTION_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $json.id_mensagem }}\"\n    }\n  },\n  \"convertToMp4\": true\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        1040
      ],
      "id": "1df8c600-732e-40d9-ac4b-2ab1a7321c81",
      "name": "HTTP Request1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url_evolution }}/chat/getBase64FromMediaMessage/{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EVOLUTION_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $json.url_audio }}\"\n    }\n  },\n  \"convertToMp4\": true\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        1136
      ],
      "id": "31cdc6e0-4b2c-4700-b7e2-aee3deb384d3",
      "name": "HTTP Request2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Info').item.json.instancia }}",
        "remoteJid": "={{ $('Info').item.json.telefone }}",
        "messageId": "={{ $('Info').item.json.id_mensagem }}",
        "fromMe": "={{ $('Info').item.json.fromMe }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3536,
        704
      ],
      "id": "3b9ce552-7cf4-4650-ba27-e61e97e5e6cd",
      "name": "Marcar como lida texto",
      "credentials": {
        "evolutionApi": {
          "id": "AgOK2EGif2BK6vQU",
          "name": "Evolution account - Lia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.active_sessions AS s\n  (session_id, last_message, last_message_type, status)\nVALUES\n  (\n    '{{ $(\"Info\").first().json.telefone || $json.session_id }}',   -- fone (sem +)\n    '{{ $(\"Mensagem encavalada?\").all().map(i => i.json.mensagem).join(\"\\\\n\") }}',  -- texto puro\n    'human',\n    'active'\n  )\nON CONFLICT (session_id) WHERE (status = 'active')\nDO UPDATE\n   SET last_message      = EXCLUDED.last_message,\n       last_message_type = 'human',\n       updated_at        = now(),\n       followup_sent_at  = NULL;  -- reseta quando o humano responde",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3328,
        704
      ],
      "id": "b3638eae-e47e-4dfe-94d0-3c8b577cb64d",
      "name": "controle atendimentos",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.active_sessions\n  (session_id, last_message, last_message_type, status)\nVALUES\n  (\n    '{{ $(\"Info\").first().json.telefone || $json.session_id }}',\n    '{{ String($json.output || $json.text || $json.reply || \"\").replace(/'/g,\"''\") }}',\n    'ai',\n    'active'\n  )\nON CONFLICT (session_id) WHERE (status = 'active')\nDO UPDATE\n   SET last_message      = EXCLUDED.last_message,\n       last_message_type = 'ai',\n       updated_at        = now();\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5216,
        960
      ],
      "id": "9e09756c-5e31-4387-8665-39bdd0d913c2",
      "name": "atualiza atendimento",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Info').item.json.instancia }}",
        "remoteJid": "={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}",
        "messageId": "={{ $('Info').item.json.id_mensagem }}",
        "fromMe": "={{ $('Info').item.json.fromMe }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3552,
        1024
      ],
      "id": "4e3dec4b-34cd-4576-81c7-56c8e907d3fc",
      "name": "Marcar como lida audio",
      "credentials": {
        "evolutionApi": {
          "id": "AgOK2EGif2BK6vQU",
          "name": "Evolution account - Lia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.active_sessions AS s\n  (session_id, last_message, last_message_type, status)\nVALUES\n  (\n    '{{ $('Info').item.json.telefone || $json.session_id }}',   -- fone (sem +)\n    '{{ $json.text }}',                       -- texto puro\n    'human',\n    'active'\n  )\nON CONFLICT (session_id) WHERE (status = 'active')\nDO UPDATE\n   SET last_message      = EXCLUDED.last_message,\n       last_message_type = 'human',\n       updated_at        = now(),\n       followup_sent_at  = NULL;  -- reseta quando o humano responde",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3344,
        1024
      ],
      "id": "85fbcfb1-8427-4482-a34f-d56164231287",
      "name": "controle atendimentos1",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "sticker_base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2512,
        1376
      ],
      "id": "25ca5262-c729-4127-8b8e-ac57ea758b6d",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Você é um verificador de comprovantes PIX do Brasil.\n\nATENÇÃO: Extraia APENAS os dados que você VÊ CLARAMENTE na imagem. NÃO invente nenhum dado.\n\nAnalise esta imagem de comprovante PIX e retorne JSON com os campos abaixo.\nSe não conseguir ler algum campo com 100% de certeza, coloque null.\n\n{\n  \"is_pix\": true|false,\n  \"confidence\": 0.0-1.0,\n  \"recebedor_nome\": \"\",\n  \"recebedor_cnpj\": \"\",\n  \"valor_brl\": 0.00,\n  \"valor_texto\": \"\",\n  \"data\": \"\",\n  \"hora\": \"\",\n  \"banco_emissor\": \"\",\n  \"pagador_nome\": \"\",\n  \"observacoes\": \"\"\n}\n\nREGRAS CRÍTICAS:\n1. Se a imagem estiver ilegível, desfocada ou muito pequena: retorne {\"is_pix\": false, \"confidence\": 0.0, \"observacoes\": \"imagem ilegível\"}\n2. NÃO extraia dados se não tiver ABSOLUTA CERTEZA\n3. O valor deve vir do campo \"Valor\" ou similar do comprovante\n4. Recebedor é quem RECEBE o dinheiro (beneficiário)\n5. Se houver dúvida entre 2 valores, use o maior/principal\n\nRetorne APENAS o JSON, sem texto adicional.",
        "inputType": "base64",
        "options": {
          "detail": "high"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2832,
        1456
      ],
      "id": "a00b60df-b19a-4b1c-a588-466059385342",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "q8KPR3MWWibtUAoU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Imagem",
        "height": 416,
        "width": 1080,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        1280
      ],
      "id": "ae694ad5-fddc-4287-ac52-0a82006f75a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Info').item.json.instancia }}",
        "remoteJid": "={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}",
        "messageId": "={{ $('Info').item.json.id_mensagem }}",
        "fromMe": "={{ $('Info').item.json.fromMe }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3552,
        1456
      ],
      "id": "4f01ea44-7ddd-421f-8801-458dc94b83bd",
      "name": "Marcar como lida audio1",
      "credentials": {
        "evolutionApi": {
          "id": "AgOK2EGif2BK6vQU",
          "name": "Evolution account - Lia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.active_sessions AS s\n  (session_id, last_message, last_message_type, status)\nVALUES\n  (\n    '{{ $('Info').item.json.telefone || $json.session_id }}',   -- fone (sem +)\n    '{{ $json.content }}',                       -- texto puro\n    'human',\n    'active'\n  )\nON CONFLICT (session_id) WHERE (status = 'active')\nDO UPDATE\n   SET last_message      = EXCLUDED.last_message,\n       last_message_type = 'human',\n       updated_at        = now(),\n       followup_sent_at  = NULL;  -- reseta quando o humano responde",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3344,
        1456
      ],
      "id": "ba5e58a4-adae-4005-9b03-586f59cd601c",
      "name": "controle atendimentos2",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"mensagem\": \"{{ $json.mensagem }}\",\n  \"telefone\": \"{{ $json.telefone }}\"\n  \"horario\": \"\"\n  \"historico\": \"{{ $json.telefone }}\"\n}",
        "options": {
          "systemMessage": "=# Identidade\n\nVocê é o atendente do **{{ $json.nome_restaurante || 'Marcio Lanches & Pizzas' }}** no WhatsApp.\nAtende de forma simpática, rápida e natural — como um funcionário experiente que conhece os clientes.\nFala de forma curta e direta, sem emojis e sem parecer um robô.\n\n---\n\n# Dados do atendimento\n\n- **Horário:** {{ $json.horario }}\n- **Telefone:** {{ $json.telefone }}\n- **Link do cardápio:** https://marciolanches.saipos.com/home\n\n---\n\n# Dados do cliente\n\n- **Nome:** {{ $json.historico.name || \"não informado\" }}\n- **Total de pedidos:** {{ $json.historico.total_orders || 0 }}\n- **Último pedido:** {{ $json.historico.last_order_items || \"nenhum\" }}\n- **Última forma de pagamento:** {{ $json.historico.last_payment_method || \"não informado\" }}\n\n**Endereço cadastrado:**\n- Rua: {{ $json.historico.street || \"não possui\" }}\n- Número: {{ $json.historico.number || \"\" }}\n- Bairro: {{ $json.historico.district || \"\" }}\n- Cidade: {{ $json.historico.city || \"\" }}\n- CEP: {{ $json.historico.postal_code || \"não possui\" }}\n- Complemento: {{ $json.historico.complement || \"não informado\" }}\n\n---\n\n# Regras essenciais\n\n1. **Nunca inventar dados.** Use somente o que está acima ou o que as tools retornarem.\n2. **Sempre validar endereço com a tool maps**, mesmo que já tenha cadastro.\n3. **Copiar nomes de itens exatamente** como retornados pela tool cardapio.\n4. **Se uma tool falhar**, avise o cliente e peça para repetir a informação.\n\n---\n\n# Sequência do atendimento\n\nSiga esta ordem, uma etapa de cada vez:\n\n## 1. Saudação\n- Se cliente cadastrado: cumprimente pelo nome.\n- Se cliente novo: cumprimente normalmente.\n\n## 2. Pedido\n- Se cliente cadastrado com último pedido: ofereça \"Quer repetir o pedido anterior ou vai querer algo diferente?\"\n- Aguarde o cliente dizer o que quer.\n- Se pedir o cardápio: envie o link e aguarde os itens.\n\n## 3. Montar os itens\n- Use a tool **stages(\"interpretacao\")** para entender gírias (ex: \"careca\" = sem salada).\n- Use a tool **cardapio** para buscar itens, preços e adicionais.\n- Se faltar informação (tamanho, quantidade): pergunte só o que falta.\n- Após mapear todos os itens, use a tool **calcular_totais** para obter os valores.\n- Apresente os itens JÁ COM os preços e subtotal:\n```\n  • 1x X Burguer — R$ 23,00\n    + Coração — R$ 5,00\n  • 1x Batata Frita (1/4) — R$ 15,00\n  Subtotal: R$ 43,00\n```\n- Pergunte: \"Confirma ou quer ajustar algo?\"\n- Só avance quando o cliente confirmar.\n\n## 4. Entrega ou retirada\n- Pergunte: \"Vai ser entrega ou retirada?\"\n- Aguarde a resposta antes de continuar.\n\n## 5. Endereço (só se for entrega)\n- Se cliente tem endereço cadastrado: \"Entrego em [rua], [número] - [bairro]?\"\n- Se não tem: peça rua, número e bairro.\n- Sempre pergunte o complemento: \"É casa ou apartamento?\"\n  - Se apartamento: pergunte número e bloco.\n- **Sempre** valide o endereço com a tool **maps**.\n- Após validar, use a tool **taxa_entrega** passando só o nome do bairro.\n\n## 6. Resumo final\n- Mostre o resumo com a taxa de entrega e total:\n```\n  Subtotal: R$ 43,00\n  Taxa de entrega: R$ 7,00\n  Total: R$ 50,00\n```\n- Pergunte se está tudo certo antes de seguir para o pagamento.\n\n## 7. Pagamento\n- Pergunte: \"Vai pagar como? Dinheiro, cartão ou PIX?\"\n- Dinheiro: pergunte troco para quanto.\n- Cartão: pergunte crédito ou débito.\n- PIX: informe o CNPJ **09103543000109** e peça o comprovante.\n\n## 8. Enviar pedido\n- Só envie após ter: itens confirmados, endereço validado (se entrega), pagamento definido.\n- Use a tool **enviar_pedido** com o JSON no formato abaixo.\n- Após enviar: \"Pedido enviado! Obrigado pela preferência.\"\n- Não aceite mais alterações depois de enviado.\n\n---\n\n# Formato do pedido (tool enviar_pedido)\n\n```json\n{\n  \"JSON\": {\n    \"itens\": [\n      {\n        \"nome\": \"X Salada\",\n        \"qtd\": 1,\n        \"valor_unitario\": 28.00,\n        \"obs\": \"\",\n        \"adicionais\": [\n          { \"nome\": \"Bacon\", \"qtd\": 1, \"valor_unitario\": 5.00 }\n        ]\n      }\n    ],\n    \"dados_cliente\": {\n      \"nome\": \"Guilherme\",\n      \"telefone\": \"554796489767\"\n    },\n    \"tipo_entrega\": \"entrega\",\n    \"endereco\": {\n      \"rua\": \"Avenida Campos Novos\",\n      \"numero\": \"382\",\n      \"bairro\": \"São Vicente\",\n      \"cep\": \"88309663\",\n      \"complemento\": \"casa\"\n    },\n    \"pagamento\": \"credito\",\n    \"taxa_entrega\": 7.00,\n    \"desconto\": 0,\n    \"troco_para\": 0,\n    \"total\": 94.00\n  }\n}\n```\n\n**Importante:**\n- O campo \"nome\" dos itens deve ser idêntico ao retornado pela tool **cardapio**.\n- O endereço deve vir do retorno da tool **maps**.\n- O total deve vir do retorno da tool **calcular_totais**."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4800,
        960
      ],
      "id": "ddeb99a3-9f98-46a5-a2e7-98296d1f2916",
      "name": "Atendente",
      "retryOnFail": false,
      "maxTries": null,
      "waitBetweenTries": null,
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Consulta a taxa de entrega para um bairro específico em Itajaí. Retorna o nome do bairro, taxa de entrega e cidade. Use esta tool sempre que o cliente informar o bairro para entrega.",
        "operation": "executeQuery",
        "query": "SELECT \n  district AS bairro,\n  delivery_fee AS taxa_entrega,\n  city AS cidade\nFROM delivery_areas\nWHERE active = true\n  AND unaccent(LOWER(city)) = unaccent(LOWER('Itajaí'))\n  AND (\n    unaccent(LOWER(district)) = unaccent(LOWER($1))\n    OR unaccent(LOWER(district)) LIKE '%' || unaccent(LOWER($1)) || '%'\n  )\nORDER BY \n  CASE \n    WHEN unaccent(LOWER(district)) = unaccent(LOWER($1)) THEN 0 \n    ELSE 1 \n  END,\n  district\nLIMIT 10;",
        "options": {
          "queryReplacement": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5184,
        1568
      ],
      "id": "bff1176e-4b56-4ed1-9898-4df7de5d56a0",
      "name": "taxa_entrega",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        6368,
        1472
      ],
      "id": "bc46ec9c-3751-45e4-81d6-7702aed9fb81",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=554796489767",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        6368,
        1664
      ],
      "id": "2aef5b99-c5a8-483f-854f-dbcbb26d6529",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        6176,
        1472
      ],
      "id": "3c552c81-3f61-41cf-bf9a-101ca6101290",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4608,
        1120
      ],
      "id": "c6883af4-5819-4d6f-9dd8-527667aa4b83",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "q8KPR3MWWibtUAoU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image_base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2512,
        1536
      ],
      "id": "4fb97b33-5ff7-4220-a77a-29f562f767be",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "toolDescription": "Chame esta ferramenta para enviar um novo pedido para a cozinha, sempre em formato de JSON.",
        "method": "POST",
        "url": "https://webhook.hub3ps.com/webhook/enviar-pedido",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        5360,
        1568
      ],
      "id": "ef10f770-3ae2-4bde-83f5-9fafd28cd05e",
      "name": "enviar_pedido"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "pdf_base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2512,
        1792
      ],
      "id": "21514567-6f4f-41f0-bcf1-e3e568587a4f",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Você é um especialista em analisar comprovantes de pagamento PIX.\n\nExtraia as seguintes informações do comprovante em PDF:\n- Valor pago\n- Data e hora do pagamento\n- Nome do recebedor (beneficiário)\n- CNPJ do recebedor\n- Nome do pagador\n- CPF do pagador (se visível)\n- Chave PIX\n- ID da transação\n- Status (se aprovado/realizado)\n\nRetorne APENAS um JSON válido, sem markdown, sem explicações:\n{\n  \"valor\": 125.00,\n  \"data\": \"07/10/2025\",\n  \"hora\": \"19:50:58\",\n  \"recebedor_nome\": \"MARCIO LANCHES\",\n  \"recebedor_cnpj\": \"09.103.543/0001-09\",\n  \"pagador_nome\": \"SERGIO PAULO DE MAIA\",\n  \"pagador_cpf\": \"***.825.239-**\",\n  \"chave_pix\": \"09103543000109\",\n  \"id_transacao\": \"E00360305202510072250348d1bb6815\",\n  \"status\": \"Efetivado\"\n}",
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2832,
        1792
      ],
      "id": "ed8fbb5c-1cf1-4717-8832-42bfd2398c02",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "uaAmIOORPCp1xYQN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "# PDF",
        "height": 240,
        "width": 1080,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        1712
      ],
      "id": "0258b464-472f-4234-90aa-468d16a62a3a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Info').item.json.instancia }}",
        "remoteJid": "={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}",
        "messageId": "={{ $('Info').item.json.id_mensagem }}",
        "fromMe": "={{ $('Info').item.json.fromMe }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3552,
        1760
      ],
      "id": "e20150ff-8eae-4e95-a00a-4dafe9964701",
      "name": "Marcar como lida audio2",
      "credentials": {
        "evolutionApi": {
          "id": "AgOK2EGif2BK6vQU",
          "name": "Evolution account - Lia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.active_sessions AS s\n  (session_id, last_message, last_message_type, status)\nVALUES\n  (\n    '{{ $('Info').item.json.telefone || $json.session_id }}',   -- fone (sem +)\n    '{{ $json.content }}',                       -- texto puro\n    'human',\n    'active'\n  )\nON CONFLICT (session_id) WHERE (status = 'active')\nDO UPDATE\n   SET last_message      = EXCLUDED.last_message,\n       last_message_type = 'human',\n       updated_at        = now(),\n       followup_sent_at  = NULL;  -- reseta quando o humano responde",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3344,
        1760
      ],
      "id": "d0d2155e-1872-497f-83a6-35d4a28d0800",
      "name": "controle atendimentos3",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Recebe o carrinho com itens, adicionais, taxa_entrega e desconto, calcula o subtotal e o total e devolve esses valores prontos. Use esta tool SEMPRE antes de montar o resumo final do pedido, nunca some na cabeça.",
        "jsCode": "// Tool \"calcular_totais\" para o AI Agent do n8n\n\nlet data = query ?? {};\n\n// --- LIMPEZA E PARSE DO INPUT ---\nif (typeof data === 'string') {\n  try {\n    // 1. Remove formatação de código markdown (```json e ```)\n    let cleanData = data.replace(/```json/gi, '').replace(/```/g, '').trim();\n\n    // 2. Encontra o início e o fim do JSON real\n    const firstBrace = cleanData.indexOf('{');\n    const firstBracket = cleanData.indexOf('[');\n\n    let startIndex = -1;\n    let endIndex = -1;\n\n    if (firstBrace !== -1 && (firstBracket === -1 || firstBrace < firstBracket)) {\n      startIndex = firstBrace;\n      endIndex = cleanData.lastIndexOf('}');\n    } else if (firstBracket !== -1) {\n      startIndex = firstBracket;\n      endIndex = cleanData.lastIndexOf(']');\n    }\n\n    if (startIndex !== -1 && endIndex !== -1) {\n      cleanData = cleanData.substring(startIndex, endIndex + 1);\n    }\n\n    data = JSON.parse(cleanData);\n  } catch (e) {\n    const erro = {\n      error: 'JSON inválido ou mal formatado recebido do agente',\n      detalhe: String(e),\n      recebido_bruto: query,\n    };\n    return JSON.stringify(erro);\n  }\n}\n\n// --- LÓGICA DE CÁLCULO ---\nlet itens = [];\nlet taxaEntrega = 0;\nlet desconto = 0;\n\nif (Array.isArray(data)) {\n  // Caso em que veio só o array de itens: [...]\n  itens = data;\n\n  // Tenta extrair taxa_entrega e desconto do texto bruto (se existirem)\n  if (typeof query === 'string') {\n    const taxaMatch = query.match(/taxa_entrega\\s*[:=]\\s*([0-9]+(?:[.,][0-9]+)?)/i);\n    if (taxaMatch) {\n      taxaEntrega = Number(String(taxaMatch[1]).replace(',', '.'));\n    }\n\n    const descMatch = query.match(/desconto\\s*[:=]\\s*([0-9]+(?:[.,][0-9]+)?)/i);\n    if (descMatch) {\n      desconto = Number(String(descMatch[1]).replace(',', '.'));\n    }\n  }\n} else if (data && typeof data === 'object') {\n  // Caso padrão: objeto completo { itens: [...], taxa_entrega, desconto }\n  itens = Array.isArray(data.itens) ? data.itens : [];\n  taxaEntrega = Number(String(data.taxa_entrega ?? 0).replace(',', '.'));\n  desconto = Number(String(data.desconto ?? 0).replace(',', '.'));\n}\n\nlet subtotal = 0;\n\nconst itensCalculados = itens.map((item) => {\n  // Quantidade e valor do item principal\n  const qtd = Number(String(item.qtd ?? item.quantidade ?? 1).replace(',', '.'));\n  const valorUnitario = Number(String(item.valor_unitario ?? item.valor ?? 0).replace(',', '.'));\n\n  const adicionaisOrig = Array.isArray(item.adicionais) ? item.adicionais : [];\n\n  // Total do item = qtd do item * valor_unitario\n  let totalItem = qtd * valorUnitario;\n\n  // ADICIONAIS:\n  // - NUNCA multiplicar pelo qtd do item.\n  // - Usar APENAS a quantidade do próprio adicional (add.qtd).\n  const adicionaisCalculados = adicionaisOrig.map((add) => {\n    const addQtd = Number(String(add.qtd ?? add.quantidade ?? 1).replace(',', '.'));\n    const addValorUnitario = Number(String(add.valor_unitario ?? add.valor ?? 0).replace(',', '.'));\n    const totalAdicional = addQtd * addValorUnitario;\n\n    totalItem += totalAdicional;\n\n    return {\n      ...add,\n      qtd: addQtd,\n      valor_unitario: addValorUnitario,\n      total: totalAdicional,\n    };\n  });\n\n  subtotal += totalItem;\n\n  return {\n    ...item,\n    qtd,\n    valor_unitario: valorUnitario,\n    adicionais: adicionaisCalculados,\n    total: totalItem,\n  };\n});\n\nconst total = subtotal + taxaEntrega - desconto;\n\nconst result = {\n  status: 'sucesso',\n  itens: itensCalculados,\n  subtotal: subtotal.toFixed(2),\n  taxa_entrega: taxaEntrega.toFixed(2),\n  desconto: desconto.toFixed(2),\n  total_final: total.toFixed(2),\n};\n\nreturn JSON.stringify(result);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        5712,
        1568
      ],
      "id": "320dcae4-754d-4b0b-b160-b464759054ac",
      "name": "calcular_totais"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "finish",
              "value": "finish"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        6704,
        960
      ],
      "id": "bc148a11-c7ec-4d68-933d-7248c4e93e3b",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retorna regras de interpretação para uma etapa específica. \nParâmetros: \"interpretacao\", \"confirmacao\", \"endereco\", \"resumo\", \"pagamento\", \"adicionais\" ou \"erros\".",
        "operation": "executeQuery",
        "query": "SELECT\n  stage,\n  rules\nFROM public.delivery_policies_v2\nWHERE\n  client_id = '06a81600-26fc-472b-880e-e6293943354e'::uuid\n  AND stage = $1\n  AND is_active = true\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        4704,
        1568
      ],
      "id": "73651afc-3948-484e-b463-34573ef27296",
      "name": "stages",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retorna todos os itens do cardápio com nome, categoria, tamanho, preço e adicionais disponíveis.",
        "operation": "executeQuery",
        "query": "SELECT\n  categoria,\n  item,\n  tamanho,\n  tipo,\n  price,\n  adicionais\nFROM public.menu_catalog_agent_v1\nWHERE client_id = '06a81600-26fc-472b-880e-e6293943354e'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        4864,
        1568
      ],
      "id": "2459e30e-3c76-4a5b-bd0d-b71997a91b08",
      "name": "cardapio",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Valida um endereço e retorna os dados padronizados (rua, número, bairro, cidade, CEP).\nSEMPRE usar o retorno desta tool como fonte de verdade para o endereço.",
        "workflowId": {
          "__rl": true,
          "value": "ZcDaWbp79l09Y0Ej",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZcDaWbp79l09Y0Ej",
          "cachedResultName": "7. Validação_Endereços"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5024,
        1568
      ],
      "id": "e990fbf6-c983-4a5d-baaa-a0de3fad5105",
      "name": "maps"
    },
    {
      "parameters": {
        "content": "# Ferramentas",
        "height": 352,
        "width": 2084,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3952,
        1424
      ],
      "id": "bfd2d491-bf3f-4f27-8be9-2146d577d0d1",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1\nWHERE NOT EXISTS (\n  SELECT 1\n  FROM public.active_sessions\n  WHERE session_id = '{{ $json.telefone }}'\n    AND last_message_type <> 'ai'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1472,
        1280
      ],
      "id": "695d18fd-e05f-486c-bd18-e4a2b72ee1e3",
      "name": "liberado",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.active_sessions\n  (session_id, last_message, last_message_type, status)\nVALUES\n  (\n    '{{ $(\"Info\").first().json.telefone || $json.session_id }}',\n    '{{ String($json.output || $json.text || $json.reply || \"\").replace(/'/g,\"''\") }}',\n    'human',\n    'active'\n  )\nON CONFLICT (session_id) WHERE (status = 'active')\nDO UPDATE\n   SET last_message      = EXCLUDED.last_message,\n       last_message_type = 'human',\n       updated_at        = now();\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1472,
        1120
      ],
      "id": "4ef66efc-6856-4ffe-9369-e51fc2c726b2",
      "name": "humano assumiu",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0fb2c828-a573-4f22-9380-b3531bdb99c2",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "9ca9b956-a4e2-48dc-9a4b-201aa612999e",
              "leftValue": "={{ $json.mensagem }}",
              "rightValue": "Oi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1264,
        1232
      ],
      "id": "a3dfd2e7-d160-433b-b4a2-568e8243a834",
      "name": "Filtro de Remetente"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inp AS (\n  SELECT regexp_replace($1::text, '\\D', '', 'g') AS d\n),\ncand AS (\n  -- d (como veio), d sem 55 e d com 55\n  SELECT d                            AS k FROM inp\n  UNION ALL SELECT CASE WHEN left(d,2)='55' THEN substring(d from 3) ELSE d END FROM inp\n  UNION ALL SELECT CASE WHEN left(d,2)='55' THEN d ELSE '55'||d END FROM inp\n)\nSELECT *\nFROM public.view_client_snapshot\nWHERE regexp_replace(phone, '\\D', '', 'g') IN (SELECT k FROM cand)\nORDER BY last_order_at DESC NULLS LAST\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.telefone }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        1376
      ],
      "id": "a37af949-52e3-4e52-9a13-93781355bdf5",
      "name": "historico1",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ],
    "Mensagem recebida": [
      {
        "json": {
          "headers": {
            "host": "webhook.hub3ps.com",
            "user-agent": "axios/1.10.0",
            "content-length": "894",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "31.97.31.99",
            "cf-ipcountry": "BR",
            "cf-ray": "9be849b01a891ce7-GRU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "31.97.31.99, 172.71.239.91",
            "x-forwarded-host": "webhook.hub3ps.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62eb8f1e2f86",
            "x-real-ip": "172.71.239.91"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Lia",
            "data": {
              "key": {
                "remoteJid": "228844497797214@lid",
                "fromMe": false,
                "id": "3AAE2315EB8241DB3B61",
                "senderPn": "554796489767@s.whatsapp.net"
              },
              "pushName": "Guilherme Miguel",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Crédito",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "OlJqSaYbTnjVzQ==",
                    "senderTimestamp": "1767895716",
                    "recipientKeyHash": "ip4rvino/dzS8g==",
                    "recipientTimestamp": "1767895361"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "xv3AR1mlawfQp3jhQdVj0aycTXZ2x3F1SE33/STphUw="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1768510671,
              "instanceId": "decc242a-9af4-458b-913e-5aa806ed7fea",
              "source": "ios"
            },
            "destination": "https://webhook.hub3ps.com/webhook/v3.1",
            "date_time": "2026-01-15T17:57:51.351Z",
            "sender": "554799879339@s.whatsapp.net",
            "server_url": "https://evo.hub3ps.com/",
            "apikey": "EVOLUTION_API_KEY"
          },
          "webhookUrl": "https://webhook.hub3ps.com/webhook/v3.1",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Mensagem chegando?": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem recebida": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem encavalada?": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Mensagem encavalada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenar mensagens": {
      "main": [
        [
          {
            "node": "Atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens": {
      "main": [
        [
          {
            "node": "controle atendimentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever áudio": {
      "main": [
        [
          {
            "node": "controle atendimentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar status": {
      "main": [
        [
          {
            "node": "Responder mensagem áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter áudio para base64": {
      "main": [
        [
          {
            "node": "Resetar status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar áudio": {
      "main": [
        [
          {
            "node": "Converter áudio para base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar SSML": {
      "main": [
        [
          {
            "node": "Gerar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar SSML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Atendente",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Converter base64 para áudio.": {
      "main": [
        [
          {
            "node": "Transcrever áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar mensagem.": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model.": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar SSML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "historico1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_pedido": {
      "ai_tool": [
        [
          {
            "node": "Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Converter base64 para áudio.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Converter base64 para áudio.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lida texto": {
      "main": [
        [
          {
            "node": "Concatenar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "controle atendimentos": {
      "main": [
        [
          {
            "node": "Marcar como lida texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza atendimento": {
      "main": [
        [
          {
            "node": "Tipo de mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lida audio": {
      "main": [
        [
          {
            "node": "Concatenar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "controle atendimentos1": {
      "main": [
        [
          {
            "node": "Marcar como lida audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lida audio1": {
      "main": [
        [
          {
            "node": "Concatenar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "controle atendimentos2": {
      "main": [
        [
          {
            "node": "Marcar como lida audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "controle atendimentos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atendente": {
      "main": [
        [
          {
            "node": "atualiza atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "taxa_entrega": {
      "ai_tool": [
        [
          {
            "node": "Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "ai_languageModel": [
        [
          {
            "node": "Atendente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar_pedido": {
      "ai_tool": [
        [
          {
            "node": "Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lida audio2": {
      "main": [
        [
          {
            "node": "Concatenar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "controle atendimentos3": {
      "main": [
        [
          {
            "node": "Marcar como lida audio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "controle atendimentos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calcular_totais": {
      "ai_tool": [
        [
          {
            "node": "Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "stages": {
      "ai_tool": [
        [
          {
            "node": "Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cardapio": {
      "ai_tool": [
        [
          {
            "node": "Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "maps": {
      "ai_tool": [
        [
          {
            "node": "Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "liberado": {
      "main": [
        [
          {
            "node": "Mensagem chegando?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro de Remetente": {
      "main": [
        [
          {
            "node": "humano assumiu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "liberado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "historico1": {
      "main": [
        [
          {
            "node": "Filtro de Remetente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df2984ac-040e-47e4-84d6-cd7c4b895f84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c995eb3d5aea63d581c202f759dfd9ba110a4403b853d8b9833748030d2160bd"
  },
  "id": "hKJrh1rR0neyjRvs",
  "tags": []
}