n8n_workflows/6. Recuperar_pedidos.json
{
  "name": "6. Recuperar_pedidos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        -16
      ],
      "id": "c3656b31-0692-4a7b-9a1a-25b7d9903d31",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, session_id, last_message, last_message_type, updated_at, followup_count\nFROM public.active_sessions\nWHERE status = 'active'\n  AND last_message_type IN ('ai','human')\n  AND updated_at < now() - interval '10 minutes'\n  AND COALESCE(followup_count,0) < 2      -- ✅ até 2-1 tentativas\n  AND followup_sent_at IS NULL            -- ✅ ainda não retomado neste ciclo\nORDER BY updated_at ASC\nLIMIT 200;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        -16
      ],
      "id": "5b2f7976-c8fd-4107-bd08-0704998ebcfc",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        -16
      ],
      "id": "45a04e87-cf6a-4ef7-9072-fad172ae7558",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"mensagem\": \"{{ $json.mensagem }}\",\n  \"telefone\": \"{{ $json.telefone }}\"\n  \"horario\": \"{{ $json.horario }}\"\n  \"tipo\": \"{{ $json.tipo }}\"\n}",
        "options": {
          "systemMessage": "=<prompt>\n  <contexto>\n    - O assistente atua exclusivamente em um subfluxo dedicado à retomada de conversas paradas no WhatsApp.\n    - Ele não inicia novos atendimentos nem cria pedidos do zero. Sua função é identificar o contexto atual e retomar de forma natural.\n    - As conversas podem estar paradas por motivos como:\n      • O cliente não respondeu mais.\n      • O agente parou de responder e deixou a conversa em aberto.\n      • O agente ficou aguardando confirmação ou pagamento.\n    - A memória de conversas é a mesma do agente principal, permitindo contexto completo.\n  </contexto>\n\n  <papel>\n    - O assistente atua como atendente humano do Marcio Lanches.\n    - Ele deve parecer uma continuação natural da conversa e não pode demonstrar que é um novo agente.\n  </papel>\n\n  <objetivo>\n    - Retomar conversas paradas e conduzir o cliente até o fechamento do pedido ou próxima etapa.\n    - Nunca reiniciar o atendimento do zero: deve sempre partir do último ponto da conversa.\n    - Sempre interpretar corretamente a última mensagem enviada (pelo cliente ou pelo agente) e continuar a partir dela.\n    - O foco é recuperar o engajamento e converter a venda.\n  </objetivo>\n\n  <regras>\n    - Nunca repetir mensagens anteriores nem fazer perguntas já respondidas.\n    - Sempre retomar de forma natural e contextual, mencionando o que estava sendo tratado.\n    - Mensagens devem ser curtas, diretas e em blocos — nada de textos longos ou genéricos.\n    - Se o cliente estava escolhendo um item → retomar sugerindo finalizar a escolha.\n    - Se estava montando o pedido → confirmar e seguir para a próxima etapa.\n    - Se estava pendente de pagamento → perguntar de forma acolhedora se conseguiu efetuar e solicitar o comprovante.\n    - Se a conversa parou após uma pergunta do agente → reformular a pergunta de forma leve e convidativa.\n    - Sempre usar linguagem acolhedora e humana, perguntando se deu certo, se teve algum problema ou se precisa de ajuda.\n    - O objetivo é obter uma resposta que permita o agente principal reassumir a conversa.\n  </regras>\n\n  <exemplos>\n    <exemplo>\n      Última mensagem: \"Posso confirmar seu pedido por aqui?\"\n      Retomada: Oi! Vi que nossa conversa ficou parada por aqui 😅. Quer que eu finalize seu pedido agora mesmo?\n    </exemplo>\n    <exemplo>\n      Última mensagem: A chave PIX é 09103543000109, pode me enviar o comprovante?\n      Retomada: Oi! Conseguiu finalizar o pagamento? Assim que eu receber o comprovante, já coloco seu pedido pra sair!\n    </exemplo>\n    <exemplo>\n      Última mensagem: Quer incluir alguma bebida junto com o lanche?\n      Retomada: Quer aproveitar e já incluir uma bebida pra acompanhar? Temos refrigerantes e sucos geladinhos aqui 🍹\n    </exemplo>\n    <exemplo>\n      Última mensagem: Esse é o endereço certo?\n      Retomada: Consegue confirmar pra mim se o endereço está certinho? Assim eu já avanço com o pedido.\n    </exemplo>\n  </exemplos>\n\n  <tom>\n    - Acolhedor, simpático e proativo.\n    - Curto e direto, sem parecer automático ou robótico.\n    - Foco em gerar resposta do cliente para que o agente principal reassuma.\n    - Nunca usar emojis fora de contexto.\n  </tom>\n\n  <resultado>\n    - O cliente responde e retoma a conversa.\n    - O fluxo segue naturalmente e o agente principal reassume o atendimento a partir da próxima mensagem.\n  </resultado>\n</prompt>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        768,
        -16
      ],
      "id": "eb44bf6e-74aa-487e-ba99-beb0741a16f5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18526aad-8ddf-4fcb-b6bb-2bd9e95b465c",
              "name": "telefone",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "7f152975-dc8b-4813-a3f4-0a9c0e6b5710",
              "name": "mensagem",
              "value": "={{ $json.last_message }}",
              "type": "string"
            },
            {
              "id": "13e03e87-0011-45cd-9d4c-3e959f393807",
              "name": "tipo",
              "value": "={{ $json.last_message_type }}",
              "type": "string"
            },
            {
              "id": "1d7badf9-9666-4971-b85c-7ae8c12d7756",
              "name": "horario",
              "value": "={{ new Date($json.updated_at).toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\", weekday: \"long\", hour: \"2-digit\", minute: \"2-digit\" }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -16
      ],
      "id": "508667e5-181f-42a2-bfa1-3190a4d5c693",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        208
      ],
      "id": "720c20c7-52f4-44c0-a523-4028c19c0d6f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MZ4tLmC646euPuT0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        864,
        208
      ],
      "id": "6eb6f9f2-81c5-4354-86e0-d91aa74e5310",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Hub3Ps",
        "remoteJid": "={{ $('Edit Fields').item.json.telefone }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1120,
        -16
      ],
      "id": "f54ece1c-4a07-45a8-ab40-3525a6d64b75",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "AgOK2EGif2BK6vQU",
          "name": "Evolution account - Lia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.active_sessions\nSET\n  last_message       = '{{ String($json.mensagem ?? $json.reply ?? $json.text ?? $json.data?.message?.conversation ?? \"\").replace(/'/g,\"''\") }}',\n  last_message_type  = 'ai',\n  updated_at         = NOW(),\n  followup_sent_at   = NOW(),\n  followup_count     = COALESCE(followup_count, 0) + 1\nWHERE session_id = '{{ $('Edit Fields').item.json.telefone ?? $json.session_id }}'\n  AND status = 'active';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        -16
      ],
      "id": "cda4a656-afa6-46a0-be8a-a937c19696d8",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-10-01T19:45:39.002-03:00",
          "Readable date": "October 1st 2025, 7:45:39 pm",
          "Readable time": "7:45:39 pm",
          "Day of week": "Wednesday",
          "Year": "2025",
          "Month": "October",
          "Day of month": "01",
          "Hour": "19",
          "Minute": "45",
          "Second": "39",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cbce663c-cba1-4429-af91-549e892c4f9b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c995eb3d5aea63d581c202f759dfd9ba110a4403b853d8b9833748030d2160bd"
  },
  "id": "mFq0BWP5LPR12XBK",
  "tags": []
}