n8n_workflows/7. Validação_Endereços.json
{
  "name": "7. Validação_Endereços",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "f0da5f92-70ae-491c-a82c-8d5dc8d6684f",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        4768,
        1024
      ]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json.query }}"
            },
            {
              "name": "key",
              "value": "AIzaSyCHwMg8zVEJljx-xOqH8SqXJB0kP3gju4w"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4976,
        1024
      ],
      "id": "839cd279-5ac3-443a-88cb-d416b31d1a4a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const components = $input.first().json.results[0].address_components;\n\nconst findByType = (types) => {\n  const item = components.find(c => types.some(t => c.types.includes(t)));\n  return item?.long_name || null;\n};\n\nreturn {\n  json: {\n    rua: findByType(['route']),\n    numero: findByType(['street_number']),\n    cep: findByType(['postal_code']),\n    bairro: findByType(['sublocality_level_1']),\n    cidade: findByType(['administrative_area_level_2']),\n    estado: components.find(c => c.types.includes('administrative_area_level_1'))?.short_name || null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5184,
        1024
      ],
      "id": "9c1e6dd8-5afa-41f6-a95a-ccbe37a1f891",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "query": "Avenida Campos Novos, 382"
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a307506-57a0-44f3-95b0-e74e3c230eae",
  "meta": {
    "instanceId": "c995eb3d5aea63d581c202f759dfd9ba110a4403b853d8b9833748030d2160bd"
  },
  "id": "ZcDaWbp79l09Y0Ej",
  "tags": []
}