n8n_workflows/Atualiza Cardápio.json
{
  "name": "Atualiza Cardápio",
  "nodes": [
    {
      "parameters": {
        "url": "https://order-api.saipos.com/catalog",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "SAIPOS_TOKEN"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        -192
      ],
      "id": "54314f11-93e9-435a-b99b-fe53480ffb2c",
      "name": "consulta_cardapio"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -704,
        -192
      ],
      "id": "08d3540c-5160-447f-a417-4de5e3517aea",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const CLIENT_ID = '06a81600-26fc-472b-880e-e6293943354e';\n\nconst items = $input.all(); // pega todos os itens do HTTP Request\n\nconst result = [];\n\nfor (const item of items) {\n  const row = item.json; // linha original da Saipos\n\n  const codigo = row.codigo_saipos || null;\n\n  // pdv_code = código completo\n  const pdv_code = codigo;\n\n  // parent_pdv_code = parte antes do ponto (para COMPLEMENTO) ou null\n  let parent_pdv_code = null;\n  if (codigo && codigo.includes('.')) {\n    parent_pdv_code = codigo.split('.')[0];\n  }\n\n  result.push({\n    json: {\n      client_id: CLIENT_ID,\n\n      tipo: row.tipo || null,\n      categoria: row.categoria || null,\n      tamanho: row.tamanho || null,\n      id_store_item: row.id_store_item || null,\n      item: row.item || null,\n      id_store_choice: row.id_store_choice || null,\n      complemento: row.complemento || null,\n      complemento_item: row.complemento_item || null,\n      price: row.price ?? null,\n      codigo_saipos: codigo,\n      store_item_enabled: row.store_item_enabled || null,\n      store_choice_enabled: row.store_choice_enabled || null,\n      store_choice_item_enabled: row.store_choice_item_enabled || null,\n      item_type: row.item_type || null,\n\n      pdv_code,\n      parent_pdv_code\n    }\n  });\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -192
      ],
      "id": "8d7ffbef-c426-40bd-8b97-3f9b55a8a2f0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.saipos_menu_raw\nWHERE client_id = '06a81600-26fc-472b-880e-e6293943354e'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -528,
        -192
      ],
      "id": "ce20c0b0-c35a-45cb-95e8-e48a3d797dda",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "saipos_menu_raw",
          "mode": "list",
          "cachedResultName": "saipos_menu_raw"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $json.client_id }}",
            "tipo": "={{ $json.tipo }}",
            "categoria": "={{ $json.categoria }}",
            "tamanho": "={{ $json.tamanho }}",
            "id_store_item": "={{ $json.id_store_item }}",
            "item": "={{ $json.item }}",
            "id_store_choice": "={{ $json.id_store_choice }}",
            "complemento": "={{ $json.complemento }}",
            "complemento_item": "={{ $json.complemento_item }}",
            "price": "={{ $json.price }}",
            "codigo_saipos": "={{ $json.codigo_saipos }}",
            "store_item_enabled": "={{ $json.store_item_enabled }}",
            "store_choice_enabled": "={{ $json.store_choice_enabled }}",
            "store_choice_item_enabled": "={{ $json.store_choice_item_enabled }}",
            "item_type": "={{ $json.item_type }}",
            "pdv_code": "={{ $json.pdv_code }}",
            "parent_pdv_code": "={{ $json.parent_pdv_code }}",
            "created_at": "2025-12-16T18:08:17"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tamanho",
              "displayName": "tamanho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_store_item",
              "displayName": "id_store_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "item",
              "displayName": "item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_store_choice",
              "displayName": "id_store_choice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "complemento",
              "displayName": "complemento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "complemento_item",
              "displayName": "complemento_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "codigo_saipos",
              "displayName": "codigo_saipos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store_item_enabled",
              "displayName": "store_item_enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store_choice_enabled",
              "displayName": "store_choice_enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store_choice_item_enabled",
              "displayName": "store_choice_item_enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "item_type",
              "displayName": "item_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pdv_code",
              "displayName": "pdv_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parent_pdv_code",
              "displayName": "parent_pdv_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        -192
      ],
      "id": "0e3eb3f8-9881-412f-9471-362ff3d7178e",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "1cdCAPhSbgI7pwdT",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-12-16T17:55:15.913-03:00",
          "Readable date": "December 16th 2025, 5:55:15 pm",
          "Readable time": "5:55:15 pm",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "16",
          "Hour": "17",
          "Minute": "55",
          "Second": "15",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consulta_cardapio": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "consulta_cardapio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d17c3fde-17b0-4dda-bde5-81015f963140",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c995eb3d5aea63d581c202f759dfd9ba110a4403b853d8b9833748030d2160bd"
  },
  "id": "hSHAcVFJhESI95re",
  "tags": []
}