n8n_workflows/Webhook_Central_Saipos.json
{
  "name": "Webhook_Central_Saipos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "saipos-central",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -224,
        0
      ],
      "id": "833758ef-ccca-48c5-b193-01bbeb18b937",
      "name": "Webhook",
      "webhookId": "d1c7f2fd-a9ea-4e82-bf11-3a15af559bee"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "123",
                    "rightValue": "={{ $json.body.cod_store }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4da629b3-c7cd-4fdd-93e7-cdc5106bbf84"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        0,
        0
      ],
      "id": "e171ed9c-a76d-42cc-85e7-04d3f1e76d9b",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.hub3ps.com/webhook/marcio_lanches",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -96
      ],
      "id": "bad994c6-d1ad-45c4-936d-1ffe431a862f",
      "name": "Márcio Lanches"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Márcio Lanches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3af3bfa2-853a-40de-9a27-84a4b2609144",
  "meta": {
    "instanceId": "c995eb3d5aea63d581c202f759dfd9ba110a4403b853d8b9833748030d2160bd"
  },
  "id": "cfsDYUT0163acKeA",
  "tags": []
}